services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui.dev
    ports:
      - "9001:9001"
    environment:
      - NODE_ENV=development
      - VITE_APP_SERVER_URL=http://localhost:9002
      - PORT=9001
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev

  server:
    build:
      context: .
      dockerfile: Dockerfile.server.dev
    env_file:
      - .env
    environment:
      - NODE_ENV=development
      - PORT=9002
      - JWT_SECRET=dev_jwt_secret
      - MONGO_URI=mongodb://mongodb:27017/olympus-hero
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./:/app
      - /app/node_modules
      - ./storage/:/app/storage
    ports:
      - "9002:9002"
    command: npm run server:dev
    depends_on:
      - mongodb

  mongodb:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data-dev:/data/db
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=olympus-hero

volumes:
  mongodb-data-dev: